@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  background: rgb(240, 240, 240);
}

input.add-input {
  font-size: 14px !important;
}

.waves-effect {
  display: none !important;
}

.waves-effect.active {
  display: block !important;
  position: relative !important;
  cursor: pointer !important;
  display: inline-block !important;
  overflow: hidden !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
  vertical-align: middle !important;
  z-index: 1 !important;
  transition: .3s ease-out !important;
  float: right !important;
}